* {
  margin: 0;
  padding: 0;
  font-family: "robot", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color:red ; */
}
.img img {
  height: 50px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 1.2em;
  padding: 10px 10px;
  flex-wrap: wrap;
  z-index: 50;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.K,
.M {
  color: #fb911f;
  font-weight: 800;
  font-size: 1.3em;
}
.nom {
  font-weight: 600;
  font-size: 1.2em;
}
.logo {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  gap: 1.6em;
  list-style: none;
}
.navigation ul a {
  &:hover {
    color: #fb911f;
    border-bottom-color: #fb911f;
    border-bottom-style: solid;
  }
}
.btn-reservation {
  padding: 10px 20px;
  background-color: #fb911f;
  color: white;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  &:hover {
    background-color: #d87710;
    transition: ease-out;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s;
  }
}

/* --------------------------------ACCUEIL----------------------------------------- */
.accueil {
  /* background-color: blue; */
  /* color: white; */
  /* background-image: url("/Images/Logo/bg_logo.png"); */
  /* background-image: url("/Images/Logo/restaurant-interieur.jpg"); */
  background-image: url("/Images/Logo/restaurant-interieur\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-content: center;
  justify-items: center;
}
.texte h1 {
  color: white;
  text-align: center;
  font-size: 3.5em;
  font-weight: bolder;
}
.texte_accueil {
  display: flex;
  color: white;
  font-size: 1.2em;
  padding: 20px;

  /* background-color: pink;  */
  /* width: 50%; */
}
.texte {
  width: 50%;
  /* background-color: red;  */
  padding: 20px;
}
.cta {
  display: flex;
  /* margin: 40px; */
  gap: 40px;
}
.cta .btn-cta {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
    letter-spacing: 4px;
    transition: 0.3s;
  }
}
.cta .men {
  background-color: #2a4995;
}
.cta .res {
  background-color: #fb911f;
}

/* --------------------------------À Propos----------------------------------------- */
.propos {
  /* background-color: green;
  color: white; */
  display: flex;
  padding: 60px;
  justify-content: space-around;
  overflow: hidden;
}
.propos .texte2 {
  padding: 50px;
  margin-left: 50px;
  margin-right: 20px;
}
.propos .texte2 h2 {
  font-size: 2em;
  font-weight: bolder;
  /* background-color: red; */
}
.propos .texte2 p {
  margin-top: 20px;
  text-align: justify;
  word-spacing: 5px;
  font-size: 1.1em;
}
.propos .A {
  color: #fb911f;
  font-size: 1.7em;
}
.description img {
  width: 600px;
  margin-top: 40px;
  /* padding: 30px; */
  background-color: red;
  /* border-radius: 200px 100px; */
  border-radius: 20px;
  /* margin-right: 50px; */
}
/* --------------------------------MENU----------------------------------------- */
.menu {
  padding: 30px;
  /* background-color: yellow;
  color: white; */
}
.menu .texte-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px; */
  gap: 5px;
}
.menu .texte-menu h2 {
  font-size: 2em;
  font-weight: bolder;
  /* box-shadow: 3px 3px 15px black; */
}
.menu .texte-menu h2 span {
  font-size: 1.7em;
  color: #fb911f;
}
.menus img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
  border-radius: 10%;
  object-fit: cover;
}
.menu .card .card-img {
  position: relative;
  width: 100%;
  height: 250px;
}
.menu .menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  /* gap: 20px; */
  /* grid-column: ; */
}
.menu .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  height: auto;
  /* border-radius: 5%; */
  /* align-items: center; */
  /* box-shadow: 3px 7px 8px black; */
  /* box-shadow: 4px 5px 5px black; */
  box-shadow: 20px 15px 35px black;
  padding: 5px;
  /* gap: 10px; */
  text-align: center;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 3px 7px 8px black;
    /* box-shadow: 20px 15px 35px black; */
    transform: translateX(-10px);
    transition: 0.3s ease-out;
  }
}
.menu .menus .card-info {
  /* display: flex;flex-direction: column;gap: 10px; */
  margin-top: 10px;
}
.menu .menus .card-info .description {
  padding: 5px;
  text-align: justify;
}
.menu .card h3 {
  text-transform: uppercase;
  color: #fb911f;
  font-weight: bolder;
  font-size: 1.4em;
  padding: 5px;
}
.menu .card .prix {
  font-weight: 500;
  font-size: 1.5em;
  padding: 5px;
  margin-top: auto;
}
.menu .card .prix .p {
  font-weight: 900;
}
/*-------------------------------EXPERT----------------------------------------- */
.expert {
  /*  background-color: orange;
  color: white; */
  padding: 15px;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  /* height: 100vh; */
}
.expert .contenu {
  border: solid 2px black;
  border-radius: 10px;
  padding: 60px;
  box-shadow: 0 10px 65px black;
}
.expert .contenu .expert-texte {
  text-align: center;
  padding: 40px;
}
.expert .contenu .expert-texte h2 {
  padding: 5px;
  font-size: 2em;
  font-weight: bolder;
}
.expert .contenu .expert-texte span {
  /* text-shadow: 5px 10px 10px #fb911f; */
  font-size: 1.7em;
  color: #fb911f;
}
.expert .experts {
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* margin: 50px; */
  /* width: 1000px; */
  /* flex-wrap: wrap; */
  /* width: 300px; */
}
.expert .experts .card-expert {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 5px;
  box-shadow: 10px 20px 35px black;
  &:hover {
    transform: translateY(-10px);
    transition: 0.3s;
    /* border: solid 2px #fb911f; */
    border: solid 1px black;
    box-shadow: 0 20px 35px black;
    /* padding: 5px; */
    /*   width: 260px;
  height: 310px; */
  }
}
.exp1,
.exp2 {
  /* background: red; */
  /* height: 00px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
/* .expert .experts .card-expert .card-exp-img{
  width: 250px;
} */
.expert .experts .card-expert .card-exp-img img {
  /* position: relative; */
  width: 250px;
  height: 300px;
  border-radius: 15px;
}

.expert .experts .card-expert .card-exp-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.expert .experts .card-expert .card-exp-info p {
  margin-top: 15px;
}
/*-------------------------------TEMOIGNAGE----------------------------------------- */
.temoignage {
  /*  background-color: purple;
  color: white; */
  padding: 30px 12px;
}
.temoignage .vertical-marquee {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
  height: 550px;
  z-index: -1;
}
.temoignage .vertical-marquee__blurred-circle {
  display: block;
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fb911f;
  filter: blur(64px);
}
.temoignage .verticla-marquee__slider {
  animation: vertical-marquee 3.4s linear infinite;
}
@keyframes vertical-marquee {
  to {
    transform: translateY(-50%);
  }
}
.temoignage .verticla-marquee__panel {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 12px 22px;
}
.temoignage .verticla-marquee__card {
  display: flex;
  flex-direction: column;
  padding: 20px 22px;
  border: 2px solid #fb911f;
  border-radius: 10px;
}
.temoignage .verticla-marquee__card-text {
  color: black;
  line-height: 1.4;
  font-style: 18px;
  margin-bottom: 24px;
}
.temoignage .vertical-marquee__green-quotes {
  color: green;
}
.temoignage .vertical-marquee__card-author {
  font-style: italic;
  margin-top: auto;
}
/*-------------------------------CONTACT----------------------------------------- */
.contact {
  /*  background-color: black;
  color: white; */
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #24232a;
  color: white;
  text-align: center;
  /* background-color: white; */
  align-items: center;
  overflow: hidden;
}
@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}
.contact .contact-form {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.contact .contact-form::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 500px;
  background: linear-gradient(0deg, transparent, orange, orange);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
}
.contact .contact-form::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 500px;
  background: linear-gradient(0deg, transparent, blue, purple);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
  animation-delay: 3s;
}
.contact form {
  position: absolute;
  inset: 3px;
  border-radius: 8px;
  background: #24232a;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form .inputBox {
  width: 350px;
  position: relative;
  margin-top: 15px;
}
.contact form .inputBox input {
  width: 100%;
  padding: 15px 10px 10px;
  background: transparent;
  border-color: #fb911f;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  outline: none;
  color: #fb911f;
  /* text-align: center; */
}
.contact form .inputBox textarea,
input::placeholder {
  text-align: center;
}
.contact form .inputBox textarea {
  width: 100%;
  background: transparent;
  border-color: #fb911f;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  outline: none;
  /* color: #fb911f; */
  color: white;
  /* text-align: center; */
}
.contact form .btn-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 7px;
  /* padding: 10px; */
  /* background: red; */
}
.contact form .btn-form .btn-frm-an,
.btn-frm-env {
  font-size: 1.1em;
  padding: 3px;
  border: none;
  color: white;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  /* width: 100px; */
}
.contact form .btn-form .btn-frm-an {
  background: red;
}
.contact form .btn-form .btn-frm-env {
  background-color: blue;
}
/* .contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 40px;
  justify-content: center;
  align-items: center;

}
.contact form label{
  font-size: 1.2em;
  font-weight: bold;
}
.contact form input{
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
} */
/*-------------------------------FOOTER----------------------------------------- */
footer {
  padding: 7px;
  background-color: #fff;
}
footer .rs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
footer .rs .cpright {
  font-size: 1.2em;
  font-weight: bold;
}
footer .rs .reseau-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10px;
}
footer .reseau-social .web,
.github {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .reseau-social a {
  text-decoration: none;
  color: blue;
}
footer .reseau-social .github img {
  width: 80px;
}
footer .reseau-social .web img {
  width: 65px;
  padding: 3px;
}
/* footer .reseau-social img {
  width: 80px;
} */
nav.sticky {
  padding: 10px 10px;
  background: #fff;
  color: #000;
  box-shadow: 0px 5px 20px black;
  z-index: 1;
}

nav.sticky a {
  color: black; /* ou n'importe quelle couleur au scroll */
  font-weight: bolder;
}
